/* version mobile*/

:root {
	font-size: 11px;
}

* {
	z-index: 999;
}

/* Initialisation du style*/
body {
	font-family: 'Roboto', helvetica, sans-serif;
	z-index: 999;
	flex-direction: column;
}

/* Header du site*/

.loader {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background-color: hsla(0, 0%, 100%, 0.9);
	animation: loader 0.01s;
	animation-delay: 1.75s;
	animation-fill-mode: both;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader__itemContainer {
	display: flex;
	width: 8rem;
	justify-content: space-between;
}

.loader__item {
	height: 1.2rem;
	width: 1.2rem;
	border-radius: 1rem;
	animation: jump 1s;
	animation-iteration-count: 1;
}

.loader__item--1 {
	background-color: #ffe4cf;
}

.loader__item--2 {
	background-color: grey;
	animation-delay: 0.25s;
}

.loader__item--3 {
	background-color: black;
	animation-delay: 0.5s;
}

@keyframes loader {
	100% {
		opacity: 0;
		z-index: -10;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(0.5rem);
	}

	75% {
		transform: translateY(-0.5rem);
	}

	100% {
		transform: translateY(0);
	}
}

.span {
	font-weight: bold;
	margin-right: 1rem;
}

.topnav {
	overflow: hidden;
	margin: 3.5% 3.5% 0% 3.5%;
	display: flex;
	justify-content: space-between;
}
.header-logo img {
	width: 20rem;
	margin: -1.8rem 0rem 0rem -1.8rem;
}

.topnav a {
	float: left;
	display: block;
	color: #000000;
	text-align: center;
	padding: 1rem;
	margin: 1rem;
	text-decoration: none;
	font-size: 1.5rem;
	font-family: Roboto, sans-serif;
}

.topnav a:hover {
	background-color: #ffe4cf;
	color: black;
	border-radius: 15px;
	font-weight: bold;
}

.topnav a.active {
	background-color: #ffe4cf;
	color: black;
	border-radius: 15px;
	font-weight: bold;
}

.topnav .icon {
	display: none;
	background-color: #ffe4cf;
	border-radius: 15px;
}

@media screen and (max-width: 768px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}

@media screen and (max-width: 540px) {
	.topnav a {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
}

.logo {
	width: 11rem;
	padding: 1rem;
}

.titlelogo {
	position: absolute;
	padding: 0 2rem;
}

section.home-margin {
	margin: 50px auto;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.slideshow {
	border: 5px solid white;
	box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5);
	overflow: hidden;
	max-width: 600px;
	margin: 7rem 0 auto;
	position: relative;
}

.slideshow ul {
	padding-bottom: 66.67%; /* ratio pour le responsive */
	margin: 0;
	list-style-type: none;
	position: relative;
}

.slideshow li {
	top: 0;
	left: 0;
	animation: slideshow 110s ease infinite;
	position: absolute;
	opacity: 0;
}
.slideshow li:nth-child(1) {
	animation-delay: 0s;
}
.slideshow li:nth-child(2) {
	animation-delay: 5s;
}

.slideshow li:nth-child(3) {
	animation-delay: 10s;
}

.slideshow li:nth-child(4) {
	animation-delay: 15s;
}

.slideshow li:nth-child(5) {
	animation-delay: 20s;
}

.slideshow li:nth-child(6) {
	animation-delay: 25s;
}

.slideshow li:nth-child(7) {
	animation-delay: 30s;
}

.slideshow li:nth-child(8) {
	animation-delay: 35s;
}

.slideshow li:nth-child(9) {
	animation-delay: 40s;
}

.slideshow li:nth-child(10) {
	animation-delay: 45s;
}

.slideshow li:nth-child(11) {
	animation-delay: 50s;
}

.slideshow li:nth-child(12) {
	animation-delay: 55s;
}

.slideshow li:nth-child(13) {
	animation-delay: 60s;
}

.slideshow li:nth-child(14) {
	animation-delay: 65s;
}

.slideshow li:nth-child(15) {
	animation-delay: 70s;
}

.slideshow li:nth-child(16) {
	animation-delay: 75s;
}

.slideshow li:nth-child(17) {
	animation-delay: 80s;
}

.slideshow li:nth-child(18) {
	animation-delay: 85s;
}

.slideshow li:nth-child(19) {
	animation-delay: 90s;
}

.slideshow li:nth-child(20) {
	animation-delay: 95s;
}

.slideshow li:nth-child(21) {
	animation-delay: 100s;
}

.slideshow li:nth-child(22) {
	animation-delay: 105s;
}

@keyframes slideshow {
	0% {
		opacity: 0;
	}

	1% {
		opacity: 1;
	}

	5% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.slideshow span {
	background: rgba(0, 0, 0, 0.7);
	height: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

/*****barre progression *****/
.barre_progression {
	position: absolute;
	left: 0;
	bottom: 40px;
	height: 5px;
	background: white;
	animation: barre_progression 25s ease-out infinite;
}

/*****animation barre progression *****/
@keyframes barre_progression {
	0%,
	20%,
	40%,
	60%,
	80%,
	100% {
		width: 0%;
		opacity: 0;
	}

	4%,
	24%,
	44%,
	64%,
	84% {
		width: 0%;
		opacity: 0.3;
	}

	16%,
	36%,
	56%,
	76%,
	96% {
		width: 100%;
		opacity: 0.7;
	}

	17%,
	37%,
	57%,
	77%,
	97% {
		width: 100%;
		opacity: 0.3;
	}

	18%,
	38%,
	58%,
	78%,
	98% {
		width: 100%;
		opacity: 0;
	}
}

.menu {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.biographie {
	padding: 2rem;
	background-color: #ffe4cf86;
	margin-bottom: 2rem;
}

.actu {
	margin-bottom: 2rem;
}

.actuimg {
	margin-bottom: 2rem;
}

.title {
	margin-bottom: 1rem;
}

.titleactu {
	margin: 0rem 0rem 2rem 2rem;
}

.picture {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	margin-top: 4rem;
	margin: 0rem 2rem 0rem 2rem;
}

.contenerglobal {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25rem 25rem 25rem;
	grid-template-areas:
		'link1'
		'link2'
		'link3';
	grid-row-gap: 2rem;
	width: 100%;
	grid-column-gap: 2rem;
}

.contenerglobalactu {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 25rem 25rem;
	grid-template-areas:
		'link4'
		'link5';
	grid-row-gap: 2rem;
	width: 100%;
	grid-column-gap: 2rem;
}
.picturelink {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: black;
	box-shadow: 0rem 0.3rem 0.6rem #9c9c9c;
	border-radius: 1.3rem;
}

.link1 {
	grid-area: link1;
}
.link2 {
	grid-area: link2;
}
.link3 {
	grid-area: link3;
}
.link4 {
	grid-area: link4;
}
.link5 {
	grid-area: link5;
}
.picturelink > figure {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.picturelink > figure > img {
	flex: 1;
}

.activitypicture {
	display: block;
	object-fit: cover;
	border-radius: 1.3rem 1.3rem 0rem 0rem;
	width: 100%;
	height: 50%;
}

.picturename {
	text-align: center;
	padding-top: 0.6rem;
	padding-left: 0.6rem;
	padding-bottom: 0.6rem;
}

/* Footer du site*/
.footer {
	margin-top: 3rem;
	padding: 2rem;
	background-color: #ffe4cf86;
}

.footertitle {
	color: black;
	padding-bottom: 1rem;
	font-size: 1.3rem;
	text-align: center;
}

.footerul {
	list-style-type: none;
	color: black;
	text-align: center;
}

.info {
	padding: 0.2rem;
}

.footermenu {
	list-style-type: none;
}

.footertext {
	color: black;
}

.mail {
	padding-right: 0.5rem;
}

.tel {
	padding-right: 0.5rem;
	padding-left: 0.1rem;
	color: black;
}

.insta {
	padding-right: 0.5rem;
	color: black;
}
